:root{
    --font-size:10px;
    --text-color:#48555B;
}
html, body{
    font-size: var(--font-size);
    color: var(--text-color);
}
*{
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Open-Sans', sans-serif;
}
main{
    text-align: center;
    // text-align:left;
    padding: 0 250px;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.background{
    height: 769px;
    left: 0px;
    top: 0px;
    background-image: url("../imeges/bg.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    p{
        font-size: 1.6rem;
        // font-size: 16px;
        line-height: 19px;
        color: white;
    }
}
.background .triangle{
    display: flex;
    position: relative;
    width: 102px;
    height: 23px;
    top: 41px;
    left: 50%;
    margin-left: -51px;
}
#triangle{
    position: absolute;
    left: 84px;
    top: 3px;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
    margin-top: 317px;
    color: white;
}
.scroll{
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    color: white;
    margin-top: 221px;
}
.heder_line{
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    padding: 0 250px;
    .triangle{
        position: relative;
        width: 80px;
        height: 16px;
        // bottom: 24px;
        .text_triangle{
            filter: invert(100%);
        }
    }
}
.menu{
    display: flex;
    flex-wrap: wrap;
    a{
    margin-left: 30px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.09091px;
    }
}
#blue{
    color: #00A4E5;
}
hr{
    border-bottom: 1px solid #E6E6E6 !important;
}
.topik_1{
    position: relative;
    margin-top: 57px;
    margin-bottom: 61px;
    text-align: center;
    h3::after{
        content: "";
        position: absolute;
        bottom: -13px;
        left: 50%;
        width: 50px;
        margin-left: -25px;
        border-bottom: 3px solid #00A4E5;
    }
}
h3{
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    letter-spacing: 2px;
}
.txt{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 253px;
    width: 405px;
    text-align: left;
    vertical-align: bottom;
    margin-right: 57px;
    h4{
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.1875px;
        margin-bottom: 30px;
    }
    p{
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 0.1875px;
    }
}
span{
    color: #00A4E5;
}
.grid_1{
    display: grid;
    grid-template-columns: 42% 16% 16% 16%;
    align-items: end;
    justify-items: stretch;
    grid-gap: 20px;
}
.txt{
    grid-area: txt;
}
.top_grid_block_1{
    grid-area: block_1;
}
.top_grid_block_2{
    grid-area: block_2;
}
.top_grid_block_3{
    grid-area: block_3;
}
@media(min-width: 1399px){
    .grid_1{
        grid-template-areas:
        "txt block_1 block_2 block_3"
    }
}
@media(max-width: 1400px){
    .grid_1{
        grid-template-areas:
        "txt"
        "block_1"
        "block_2"
        "block_3";
    }
}
.grid_1 div{
    position: relative;
    padding-bottom: 0;
}
.line{
    display: flex;
    flex-wrap: wrap;
    height: 38px;
    justify-content: space-between;
    margin-bottom: 78px;
    p{
      width: 405px;
      text-align: left;
      font-size: 11px;
      line-height: 19px;
      letter-spacing: 0.2px;
    }
}
.after{
    position: relative;
}
.after:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        border-bottom: 3px solid #00A4E5;
}
button{
    width: 150px;
    height: 40px;
    background: #00A4E5;
    border: none;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    font-weight: 900;
}
.layout{
    display: grid;
    margin-top: 118px;
    // height: 448px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    // grid-auto-flow: column;
    column-gap: 3%;
    align-items: end;
    // justify-items: stretch;
}
@media(min-width: 1200px){
    .layout{
        grid-template-areas:
        "top top top"
        "left middle right";
    }
}
@media(max-width: 1200px){
    .layout{
        grid-template-areas:
        "top"
        "left"
        "middle"
        "right";
    }
}
.line{
    grid-area: top;
}
.b_left{
    grid-area: left;
}
.b_middle{
    grid-area: middle;
}
.b_right{
    grid-area: right;
}
.layout div{
    min-width: 300px;
    min-height: 330px;
    text-align: left;
    border: 1px solid #E6E6E6;
        img{
            margin: 38px auto 25px 23px; 
        }
        h5{
            margin: 0 22px 13px 22px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.426667px;
            width: 265px;
            font-weight: 700;
        }
        p{
            margin: 0 22px 39px 23px;
            font-size: 13px;
            line-height: 23px;
            letter-spacing: 0.1875px;
            width: 255px;
        }
}
article{
    position: absolute;
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 700;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
    text-transform: uppercase;
    top: 15px;
    left: 14px;
    text-align: left;
}
.block_3{
    height: 499px;
    top: 115px;
    left: 0px;
    bottom: 0px;
    background-image: url("../imeges/bg_city.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}
h2{
    margin-top: 120px;
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    font-weight: 700;
}
.bottom_line{
    display: flex;
    flex-wrap: wrap;
    height: 99px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.bottom_line h4{
        margin-right: 70px;
        color: white;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.846154px;
}
input{
    width: 250px;
    height: 40px;
    border: 1px solid #979797;
    padding-left: 16px;
    margin-right: -3px;
    ::placeholder{
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.07px;
    }
}
footer{
    padding-top: 42px;
    background-color: black;
    justify-content: center;
}
.contaner{
    text-align: center;
        p, a, section, h6{
            color: white;
            text-align: left;
        }
        .triangle{
            position: relative;
            margin-top: 20px;
            margin-bottom: 16px;
        }
}
.block_bottom{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    p{
        font-size: 11px;
        line-height: 19px;
        letter-spacing: 0.85px;
    }
    a{
        font-size: 11px;
        line-height: 25px;
        letter-spacing: 0.846154px;
    }
}
h6{
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    margin-bottom: 10px;
}
.b_1 {
    margin-right: 71px;
    p{
        width: 250px;
    }
}
.b_2{
    display: inline-flex;
    justify-content: space-between;
    margin-right: 58px;
    div *{
        display: flex;
        text-decoration: column;
    }
}
.column_2{
    margin: 25px 38px auto 34px;
}
.column_3{
    margin-top: 25px;
}
.b_3 p{
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    width: 128px;
}
.icons{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 87px;
    margin: 26px auto auto 46px;
    img{
        width: 12px;
        height: 12px;
        border: 0.1px solid green;
    }
}
.copyright{
    display: flex;
    color: white;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 35px;
}
@media(max-width: 650px){
    main, div.heder_line{
        padding: 0 50px;
    }
}
@media(max-width: 450px){
    main, div.heder_line{
        padding: 0 0 0 10px;
        margin-right: 0;
    }
    h4, .txt, .txt p, .line p{
        width: 340px;
        margin-right: 0%;
    }
    .bottom_line{
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        height: auto;
        padding: 5px 0;
        & input{
        margin: 5px 0;
        }
        h4{
            margin-right: 0;
        }
    }
    .b_3{
        margin-left: 10px;
    }
}