*{
    box-sizing:border-box;
}
body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 23px;
    background-color: white;
   }
section,footer{
     text-align: center;
}
.wrapper{
    width: 940px;
    margin: 0 auto;
}
.txt-wrapper{
     width: 819px;
     margin: 0 auto;
     text-align: center;
}

h1,h2{
    margin: 0 0 32px 0;
    font-size: 37px;
    font-weight: 400;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.56);
}
p{
    color: rgba(0, 0, 0, 0.4);
    font-style: normal;
    margin: 0 0 56px 0;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    padding: 0;
}
header{
    padding: 70px 0;
}
header a, footer a{
    text-decoration: none;
    display: inline-block;
    margin-right: 17px;
}
header a:last-child, footer a:last-child{
    margin-right: 0;
}
.logo,.social{
    display: inline-block;
    width: 460px;
    vertical-align: top;
    height: 37px;
}
.social{
    text-align: right;
}
.color{
    padding: 102px 0 117px;
    background-color: #FAC960;
}
h1{
    color: #8A6D2F;
    font-size: 44px;
    font-style: normal;
    margin: 0 0 39px 0;
    line-height: 54px;
}
.color input{
    background: #FFFFFF;
    border-radius: 2px 0px 0px 2px;
    border: none;
    width: 540px;
    padding: 10px 36px;
    font-size: 30px;
    color: #999999;
    display: inline-block;
}
::placeholder{
    color: black;
}
.color button{
    background-color: #A8863D;
    border-radius: 2px 0px 0px 2px;
    border: none;
    font-size: 30px;
    padding: 10px 44px 10px 34px;
    color: white;
    display: inline-block;
}
.color_1{
    padding: 70px 0 81px;
    background-color: #F2F2F2;
}
.smartphon{
    padding: 100px 0 27px;
    background-color: white;
}
.smartphon p{
    margin: 0 0 43px 0; 
}
.color_2{
    padding: 58px 0 58px;
    background-color: #FAC960;
}
.color_2 p{
    padding: 0 0 33px 0;
}
.empty{
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #758696;
    border-radius: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    padding: 5px 23px 5px 23px;
    height: auto;
}
footer{
    padding: 81px 0 81px;
    background-color: #F2F2F2;
}
.logo_footer{
    padding-bottom: 25px;
}